<!-- Just an image -->
<nav class="navbar justify-content-between navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DNews</a>
  <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="backClicked()">Go Back</button>
    </form>
</nav>
<div class="container">
  <br>
  <br>
  <router-outlet></router-outlet>

</div>
