<div class="row">
  <div class="col-sm-12" align="center">
    <h1>{{paper.name}}</h1>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-sm-4" align="left">
    {{paper.state}}, {{paper.country}}
  </div>
  <div class="offset-sm-4 col-sm-4" align="right">
    Category: {{paper.category}}
  </div>
</div>
<br>
<div class="row" align="right">
  <div class="col-sm-12" [hidden]="isOwned">
    <div class="input-group mb-3">
      <input [(ngModel)]="tipAmount" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="tip()">Tip (Finney)</button>
      </div>
    </div>

  </div>
</div>
<hr>
<br>
<br>
<!-- News Section -->
<div class="row">
  <div class="col-sm-12">
    <h3>{{news[1]}}</h3>
    <div class="row">
      <div class="col-sm-6">Category: {{news[2]}}</div>
      <div class="col-sm-6" align="right">Date: {{convertDate(news[4])}}</div>
    </div>
    <br>
    <p align="justify">{{news[8]}}</p>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success" [hidden]="isOwned" (click)="applaud()">{{news[6]}} |
          <i class="fa fa-fw fa-thumbs-up"></i>
        </button>
        <button class="btn btn-danger" [hidden]="isOwned" (click)="blame()">{{news[7]}} |
          <i class="fa fa-fw fa-thumbs-down"></i>
        </button>
      </div>

    </div>
  </div>
</div>

<!--Comment Section-->
<hr>
<h5>Comments ({{news[5]}})</h5>
<textarea class="form-control" [(ngModel)]="comment"></textarea>
<button class="btn btn-primary" (click)="addComment()" style="margin-top:10px">Comment</button><br>
{{status}} <i class="fa fa-spinner fa-spin" [hidden]="!isUploading"></i>
<br><br>
<div *ngFor="let comment of comments">
  <div class="row">
    <div class="col-sm-12">
      {{comment[0]}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <small>{{comment[2]}}</small>
    </div>
    <div class="col-sm-6" align="right">
      <small>{{convertDate(comment[1])}}</small>
    </div>
  </div>
  <br>
</div>
<div class="row" align="center">
  <div class="col-sm-12">
      <button type="button" class="btn btn-secondary" (click)="getComments()" [hidden]="!moreCommentsAvailable">Load More</button>
  </div>
</div>

