<div class="row">
  <div class="col-sm-12">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="'true'" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <div class="card primary">
      <div class="card-header">
        Accounts
        <div class="tooltip2">
            <i class="fa fa-question"></i>
            <span class="tooltiptext">This section contains the interacting account obtained from Metamask or locally running ethereum client</span>
          </div>
      </div>
      <div class="card-body">
        <select name="account" (change)="refreshBalance($event.target.value)" placeholder="Address" class="form-control">
          <option *ngFor="let account of accounts" [value]="account">{{account}}</option>
        </select><br>
        <p class="card-text">Balance:
          <span id="balance">{{model.balanceText}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Owned Papers
        <button type="button" class="btn btn-sm btn-primary pull-right" (click)="openModal(template)">Create new
          <i class="fa fa-plus fa-fw"></i>
        </button>
        <div class="tooltip2">
            <i class="fa fa-question"></i>
            <span class="tooltiptext">This section lists down all newspaper you created previously from this portal. You can create a new newspaper by clicking
                on create new button.</span>
          </div>
      </div>
      <div class="card-body">
        <div [hidden]="paper.name.length===0">
          <div class="input-group mb-3">
            <select name="paperAddress" (change)="getNewsPaperDetails($event.target.value)" placeholder="Address" class="form-control">
              <option *ngFor="let address of model.ownedPapers" [value]="address">{{address}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" routerLink="/paper/{{paper.address}}" routerLinkActive="active">View</button>
            </div>
          </div>

          <p>Name:
            <span id="balance">{{paper.name}}</span>
            <br> Category:
            <span id="balance">{{paper.category}}</span>
            <br> State:
            <span id="balance">{{paper.state}}</span>
            <br> Country:
            <span id="balance">{{paper.country}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Favourites
            <div class="tooltip2">
                <i class="fa fa-question"></i>
                <span class="tooltiptext">This section lists down the newspaper that you starred.</span>
              </div>
            <h6 class="pull-right">Favorites : {{favs.length}}</h6>
          </div>
      <div class="card-body table-container">
          <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Visit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let info of favs">
                  <td>{{info.name}}</td>
                  <td>{{info.category}}</td>
                  <td>{{info.state}}</td>
                  <td>{{info.country}}</td>
                  <td>
                    <a class="btn btn-primary btn-sm" routerLink="/paper/{{info.address}}" routerLinkActive="active">View</a>
                  </td>
                </tr>

              </tbody>
            </table>
        <br>
        <div class="row">
          <div class="col-md-12">
            
            <a class="btn btn-primary" (click)="getDefaultNewsPapers()" [hidden]="paperConfig.count===paperConfig.current">Load More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Papers
            <div class="tooltip2">
                <i class="fa fa-question"></i>
                <span class="tooltiptext">This section lists down the newspaper in this portal.</span>
              </div>
            <h6 class="pull-right">Papers in this directory : {{paperConfig.count}}</h6>
          </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label>Country</label>
            <select name="country" placeholder="Country" [(ngModel)]="chosenFields.country" class="form-control">
              <option [value]="0">None</option>
              <option *ngFor="let country of countryNames" [value]="country">{{country}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>State</label>
            <select name="state" placeholder="State" [(ngModel)]="chosenFields.state" class="form-control">
              <option [value]="0">None</option>
              <option *ngFor="let state of countries[chosenFields.country]" [value]="state">{{state}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Category</label>
            <select name="category" placeholder="Category" [(ngModel)]="chosenFields.category" class="form-control">
              <option [value]="0">None</option>
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="search()">
              Search
            </button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Visit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let info of papers">
                  <td>{{info.name}}</td>
                  <td>{{info.category}}</td>
                  <td>{{info.state}}</td>
                  <td>{{info.country}}</td>
                  <td>
                    <a class="btn btn-primary btn-sm" routerLink="/paper/{{info.address}}" routerLinkActive="active">View</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create New Paper</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="myform" (ngSubmit)="submit(myform.value)">
      <div class="form-group">
        <label>Paper Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group">
        <label>Country</label>
        <select class="form-control" formControlName="country">
          <option value="">Please select a country</option>
          <option *ngFor="let country of countryNames" [value]="country">{{country}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>State</label>
        <select class="form-control" formControlName="state">
          <option value="">Please select a state</option>
          <option *ngFor="let state of countries[myform.value.country]" [value]="state">{{state}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" formControlName="category">
          <option value="">Please select a category</option>
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
      </div>
      <button class="btn btn-primary" [disabled]="!myform.valid">Submit</button>

    </form>
  </div>
</ng-template>
<br>