<div class="row">
  <div class="col-sm-12" align="center">
    <h1>{{paper.name}} <span [hidden]="isOwned" (click)="addToFavorite()"><i style="text-shadow: 0px 0px 10px #000;" class="fa fa-star" [style.color]="starred?'yellow':'white'"></i></span></h1>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-sm-4" align="left">
    {{paper.state}}, {{paper.country}}
  </div>
  <div class="col-sm-4" align="center">
    Total News: {{pagingConfig.total}}
  </div>
  <div class="col-sm-4" align="right">
    Category: {{paper.category}}
  </div>
</div>
<br>
<div class="row" [hidden]="isOwned" align="right">
  <div class="col-sm-12">
    <div class="input-group mb-3">
      <input [(ngModel)]="tipAmount" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="tip()">Tip (Finney)</button>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!isOwned">
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        
        <div class="mr-5">
          <h3><i class="fa fa-fw fa-file"></i> {{pagingConfig.total}}</h3>
          <span>Total News</span>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" (click)="openModal(template)">
        <span class="float-left">Publish news</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
      
        <div class="mr-5">
          
          <h3><i class="fa fa-fw fa-money"></i> {{tipInformation.current}} ETH </h3>
          <span>Current Tips</span>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" (click)="withdraw()">
        <span class="float-left">Withdraw</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>

  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">

        <div class="mr-5">
          <h3><i class="fa fa-fw fa-money"></i> {{tipInformation.total}} ETH</h3>
          <span>Total Tips</span>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" (click)="pauseOrResume()">
        <span class="float-left">{{paper.paused?'Resume':'Pause'}} interaction with paper</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>

</div>
<div class="row" [hidden]="!isOwned">
    <small class="col-sm-12">
      Pausing the interaction with paper prevents others from tipping, commenting, applauding or blaming news within that newspaper
    </small>
  </div>
<hr>
<br>
<!-- News Section -->
<div class="row" *ngFor="let newsInfo of news">
  <div class="col-sm-12">
    <h4>{{newsInfo[1]}}</h4>
    <div class="row">
      <div class="col-sm-6">Category: {{newsInfo[2]}}</div>
      <div class="col-sm-6" align="right">Date: {{convertDate(newsInfo[4])}}</div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <small>Comments: {{newsInfo[5]}}</small>,
        <small>Applauds: {{newsInfo[6]}}</small>,
        <small>Balmes: {{newsInfo[7]}}</small>
      </div>

    </div>
    <a routerLink="/view/{{model.chosenPaper}}/{{newsInfo[0]}}" routerLinkActive="active">Read More</a>

    <br>
    <br>
    <br>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="getNews()" [hidden]="!moreNewsAvailable">Load More</button>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Publish a news</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate [formGroup]="myform" (ngSubmit)="publishNews(myform.value)">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" formControlName="category">
          <option value="">Please select a category</option>
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Content <div class="tooltip2">
            <i class="fa fa-question"></i>
            <span class="tooltiptext">Upload the file where the news content is present. Currently only plaintext is supported.</span>
          </div></label>
        <input type="file" class="form-control" (change)="captureFile($event)">
      </div>
      <div class="form-group" [hidden]="isUploading||fileHash===undefined">
        <label>Hash: </label>{{fileHash}}
      </div>
      <div class="form-group" [hidden]="!isUploading">
        Uploading File
      </div>
      <button class="btn btn-primary" [disabled]="!myform.valid||isUploading">Submit</button>

    </form>
  </div>
</ng-template>
